# PostgreSQL Database Configuration
DB_HOST=127.0.0.1
DB_PORT=[là tên port sử dụng trong pgadmin (thường là 5432 hoặc 5433)]
DB_USERNAME=[là tên đăng nhập dùng để đăng nhập trong pgadmin]
DB_PASSWORD=[là mật khẩu database dùng để đăng nhập trong pgadmin]
DB_DATABASE=[là tên database đã tạo ở pgadmin]
